<div class="container">
  <div class="words-container">

    <div class="words" *ngFor="let word of wordsList; let wi = index">
      <span *ngIf="wi !== index"
      [ngStyle]="{'color': statusCheck(wi) ? 'blue' : 'black'}"
      >{{ word }}
      </span>

      <div class="words" *ngIf="wi === index">
        <span *ngFor="let letter of word.split(''); let li = index"
        [ngStyle]="{color: letterColor(li) ? 'blue' : 'black', backgroundcolor: wi === index ? 'blue' : 'none'}">
        {{ letter }}
        </span>
      </div>
    </div>

  </div>

  <div class="typing">
    <mat-form-field>
      <mat-label>Start Typing!</mat-label>
      <input matInput (keypress)="onKeyPress($event)" [(ngModel)]="type">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onRestart()">Restart</button>
  </div>
  <div class="pontos">
    <p>{{ points }}</p>
  </div>
</div>
